<!doctype html>

<html lang="pl">
<head>
    <meta charset="utf-8">

    <title>Zbieranie danych</title>
    <meta name="description" content="Zbieranie cech występujących w grze Zgadnij kto to">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

    <link href="{{ url_for('static', filename='jquery.nice-number.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery.nice-number.js') }}"></script>
    <script>
        $(function(){
            $('input[type="number"]').niceNumber(
                {
                }
            );
        });
    </script>
</head>

<body>
    <header>
        <h1>Zbieranie cech w grze "Zgadnij kto to"</h1>
        <p>
            Hej! Nazywam się Jakub Dakowski, jestem studentem kognitywistyki. W ramach swojego projektu na przedmiot "Reasoning" zbieram informacje o cechach możliwych do dostrzeżenia u postaci w grze "Zgadnij kto to". Jeśli masz jakiś pomysł na wyróżnialną cechę, możesz go tutaj dodać!
        </p>
        <p>
            Nie zbieram żadnych danych poza polami poniższego formularza. Wysłanie cechy oznacza zgodę na udział i wykorzystanie wygenerowanych danych.
        </p>
        <p>
            Aby dodać cechę:
            <ol>
                <li>Wymyśl cechę, np. kolor włosów, i wpisz jej nazwę do pola poniżej. Im kreatywniej, tym lepiej!</li>
                <li>Wyznacz kategorie tej cechy i dowolnie oznacz cyframi, np. 1 – włosy czarne, 2 – włosy blond itd. (nie musisz ich wypisywać)</li>
                <li>Oznacz postaci w tabeli, np. Alex - 1, Alfred - 0, Anita - 2.</li>
            </ol>
            <br>
            <a href="{{ url_for('static', filename='przyklad.png') }}" target="_blank">Tutaj możesz zobaczyć przykład.</a> Dzięki za pomoc! 
        </p>
    </header>
    <article>
        <form action="/" method="post">
            <label for="cechaID"><h3>Nazwa cechy</h3></label>
            <input type="text" name="cecha" id="cechaID" maxlength="30" required autocomplete="off"/>
            
            <h3>Tabela cech</h3>
            <table>
                {% for kolumna in osoby %}
                <tr>
                    {% for osoba in kolumna %}
                    <th>
                        <label for="{{osoba}}"><img src="foty/{{ osoba|lower }}.png" alt="{{osoba}}"></label>
                        <input required type="number" name="{{osoba}}" id="{{osoba}}" max="9" min="0" value="0">
                    </th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <label for="uwagi"><h3>Miejsce na Twoje uwagi</h3></label>
            <textarea name="uwagi" id="uwagi" maxlength="600" ></textarea>

            <input type="submit" value="Zaproponuj cechę"> 
        </form>
    </article>
</body>
<script src="{{ url_for('static', filename='check_user.js') }}"></script>
</html>